<% content_for :title do %>
    Crear Proyecto
<% end %>

<% content_for :description do %>
    Crear un nuevo proyecto de investigaci칩n
<% end %>

<div class='row' style='width: 100%'>
<div class='col-md-3'>
    </div>
    <div class='col-md-6'>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre del proyecto">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de inicio</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Fecha de inicio">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Colaboradores</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Colaborador">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Estado</label>
                <select class="form-control" id="exampleFormControlSelect1">
                <option>An치lisis</option>
                <option>Investigaci칩n</option>
                <option>Publicaci칩n</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
    </div>
    <div class='col-md-3'>
    </div>
</div>